<div class="author-container">
  <h2>{{ site.compass.author_firstname }} <a class="last-name">{{ site.compass.author_lastname }}</a></h2>
<!--   <h1 class="last-name">{{ site.compass.author_lastname }}</h1> -->
</div>

<!-- <hr /> -->

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/nderkach">Code</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-medium fa-lg main-list-item-icon"></span>
    <a href="https://medium.com/@nderkach">Medium</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-envelope fa- main-list-item-icon"></span>
    <a href="mailto:nderk@me.com">Electronic Mail</a>
  </li>
</ul>
